.ind-info-heading-bg {
  background: url("./ind_info.svg") no-repeat;
  background-size: contain;
  background-position: center;
  height: 80vh;
}
.latest {
  height: 60vh;
  width: 70vw;
}

.old {
  height: 30vh;
  width: 80vw;
  margin-top: 10vh;
}
.old:first-child {
  margin-top: 25vh;
}
.old p {
  display: none;
}
.latest img {
  width: 70vw;
  height: 60vh;
}
.old img {
  width: 40vw;
  height: 30vh;
}
.info-section {
  margin-top: 30vh;
  margin-bottom: 5vh;
}

@media screen and (max-width: 769px) {
  .old {
    width: 80vw;
    height: auto;
    margin-bottom: 10vh;
    margin-top: 5vh;
  }
  .old img {
    width: 60vw;
  }

  .latest {
    height: auto;
    width: 90vw;
  }
  .latest img {
    margin-top: -10vh;
  }
}
