/* Universal */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 80px;
  background: linear-gradient(-45deg, #ee7752, #e24c81, #23a6d5, #23d5ab);
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1:first-child::after {
  display: block;
  height: 2px;
  background-color: #1989ca;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

h1::after {
  display: block;
  height: 0px;
  background-color: #1989ca;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

.app {
  min-height: 100vh;
}

/* #root {
  background-image: url("./image/stars.jpg");
  background-attachment: fixed;
} */

/*For Header.js */
.navbar {
  font-size: 1.25rem;
  overflow-y: hidden !important;
}

.navbar-brand img {
  min-height: 40px;
  max-height: 60px;
  height: 4.5vw;
}

#bootstrap-overrides .nav-link {
  color: rgba(255, 255, 255, 1);
}

#bootstrap-overrides .nav-link:hover {
  color: #1989ca;
}

/*for Coursel.js   */
/* #bootstrap-overrides .carousel-item:active {
  width: 100%;
} */
.i2 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
}

.centered {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*for Intro.js */
.i1 {
  width: 100%;
  border-radius: 10%;
  margin-top: 4%;
}

.heading {
  margin-top: 4%;
  padding: auto;
}

.content {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 4%;
}

/* for Sponser.js*/
.i3 {
  width: 10vw;
  margin-top: auto;
  margin-bottom: auto;
}

.imageContainer {
  width: 90vw;
  height: 65vh;
  background-color: black;
}

/* for Footer.js */
.footer {
  background-color: #212529;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Footer social handles animation */
.icon-container {
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease-in-out;
  border-radius: 30px;
}

.icon .icon-tag {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  margin-top: 15px;
  transition: all 0.25s ease-in-out;
}

.icon:hover,
.icon:focus {
  transform: translateY(-5px) scale(1.25);
}

.icon-fill-facebook::before {
  transition-duration: 0.5s;
  box-shadow: inset 0 0 0 1px #4267b2;
}

.icon-fill-facebook:hover::before {
  box-shadow: inset 0 0 0 60px #4267b2;
}

.icon-fill-instagram::before {
  transition-duration: 0.5s;
  box-shadow: inset 0 0 0 1px #ea2840;
}

.icon-fill-instagram:hover::before {
  box-shadow: inset 0 0 0 60px #ea2840;
}

.icon-fill-linkedin::before {
  transition-duration: 0.5s;
  box-shadow: inset 0 0 0 1px #0077b5;
}

.icon-fill-linkedin:hover::before {
  box-shadow: inset 0 0 0 60px #0077b5;
}

.icon-fill-youtube::before {
  transition-duration: 0.5s;
  box-shadow: inset 0 0 0 1px #ff0000;
}

.icon-fill-youtube:hover::before {
  box-shadow: inset 0 0 0 60px #ff0000;
}

/* for Announcement.js */
.own-marquee {
  position: relative;
  overflow-y: hidden;
  animation: Marquee 10s infinite linear;
  height: 100%;
}

.own-marquee:hover {
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  animation-play-state: paused;
}

.marquee-container {
  height: 80%;
  overflow-y: hidden;
  margin-top: 4%;
}

/* OverlayText */
.img-container {
  width: 100%;
  height: 100%;

  /* background-image: url("./image/stars.jpg");
  background-attachment: fixed; */
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: middle;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay span {
  font-size: 1.5rem;
  position: absolute;
  top: 20%;
  left: 53%;
  transform: translateX(-50%);
  color: #fff;
}

/* COUNTDOWN */
.counter span {
  width: 20vw;
  font-size: 2vw;
}

/* Marquee Animation */
@keyframes Marquee {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0%, -100%);
  }
}
@media (prefers-reduced-motion: reduce) {
  .Marquee {
    animation: none;
    overflow: visible;
    direction: unset;
    white-space: wrap;
  }
}

.Marquee {
  will-change: transform;
  animation: marquee 60s infinite linear;
  overflow: hidden;
  direction: rtl;
  white-space: nowrap;
}

/* for Contact.js */
.map-container {
  width: 100%;
  display: block;
  margin-top: 2%;
}

.embed-responsive-16by9 {
  height: 50vh;
  width: 100%;
  overflow-x: hidden;
}

.form {
  display: flex;
  flex-direction: row;
}

.contact {
  margin-top: 3rem;
  margin-bottom: 0.1rem;
}

.contact-button {
  height: 1rem;
  width: 1rem;
}

.contact-section {
  background-color: rgba(25, 135, 84, 1);
  color: aliceblue;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
  .i3 {
    width: 12vw;
  }
}

@media only screen and (max-width: 767px) {
  .i3 {
    width: 20vw;
  }
  .img-container img {
    width: 90vw;
    margin: auto;
  }
  .overlay span {
    font-size: 2rem;
  }
  .carousel-head {
    font-size: 3rem;
  }
  .i3 {
    width: 25vw;
  }
  .heading {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .i3 {
    width: 30vw;
  }
}
