/* Universal */
h1:first-child::after {
  display: block;
  height: 2px;
  background-color: #1989ca;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
h1::after {
  display: block;
  height: 0px;
  background-color: #1989ca;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*For Header.js */

.navbar {
  font-size: 1.25rem;
}

#bootstrap-overrides .nav-link {
  color: rgba(255, 255, 255, 1);
}

#bootstrap-overrides .nav-link:hover {
  color: #1989ca;
}

/*for Coursel.js   */
/* #bootstrap-overrides .carousel-item:active {
  width: 100%;
} */
.i2 {
  width: 100vw;
  background-attachment: fixed;
}

.centered {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*for Intro.js */
.i1 {
  width: 100%;
  border-radius: 10%;
  margin-top: 4%;
}
.heading {
  margin-top: 4%;
  padding: auto;
}
.content {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 4%;
}
/* for Sponser.js*/

.i3 {
  width: 10vw;
  margin-top: auto;
  margin-bottom: auto;
}
/* for About.js*/
.imageContainer {
  width: 90vw;
  height: 65vh;
  background-color: black;
}
.myStyle {
  max-width: 100vw;
  height: 60vh;
  background-color: #6d6d83;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}
.heading-block {
  color: #1989ca;
}
/* for Footer.js */
.footer {
  background-color: #212529;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}
