.GH-intro{
    background-image: url(./BackgroundGallery.jpg);
    max-width:100vw;
    height:950px;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
  

}
.GHImage1{
    
    height:350px;
    width: 300px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    margin-top: 13vw;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: rotate(-5deg); 
  transform: rotate(-5deg);
  overflow: hidden;
  animation-name: GUI1Move;
  animation-duration: 2s;
  
}
@keyframes GUI1Move{
    0%{
        transform: rotate(90deg);
        opacity: 0;
    }
    100%{
        transform: rotate(-5deg);
        opacity: 1;
    }
}

.GH:hover{
    transform:scale(1.1);
}
.GHText{
    margin-top: 5vw;
}
.GHText1{
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    animation-name: GUIMoveLeft;
    animation-duration: 2s;
}
@keyframes GUIMoveLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.GHText2{
    margin-top: 2vw;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    animation-name: GUIMoveRight;
    animation-duration: 2s;
}
@keyframes GUIMoveRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.GHImage2{
    height:150px;
    width:200px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    margin-top:10px;
    margin-left: auto;
    margin-right: auto; 
    overflow: hidden;
}
.GHImage3{
    height:150px;
    width:200px;
    margin-top:10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4); 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}
.GHSmall{
    margin-top:12vw
}
.Imagetext{
    text-align: center;
    
}
.GalleryAllContainer{
    display: flex;
    align-items: center;
    overflow: hidden;
    height:60vh;
    
    
    
}

.GalleryAllSize{
    /* width:360px;
    height:auto; */
    height:100%;
    margin:auto;
    filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .3s ease-in-out; 
      object-fit: cover;
   
}
.GalleryAllSize:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.05);
}

    
