@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
/* font-family: 'Merienda', cursive; */

.khanan-website {
  font-family: "Merienda", cursive;
}

/* custom header and footer */
.khanan-event-navbar {
  background: linear-gradient(45deg, #6827b0, #ff0881);
  transition: all 1s ease 0s;
}

.khanan-event-navbar .dropdown-menu {
  background: linear-gradient(45deg, #6827b0, #ff0881);
}

.khanan-event-footer {
  background: linear-gradient(45deg, #6827b0, #ff0881);
}

/* khanan-header.js*/
.khanan-header {
  position: relative;
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.khanan-header img {
  width: 13%;
  height: auto;
  position: absolute;
  margin-top: 23vh;
}
.custom-button-khanan {
  font-family: Brush Script MT, Brush Script Std, cursive;
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
  font-size: 1.5rem;
  font-weight: 500;
  height: 10%;
  position: absolute;
  left: 15;
  top: 78%;
}
.custom-button-khanan:hover {
  color: rgba(0, 0, 0, 1) !important;
}
.custom-button-khanan::after {
  background-color: #fff;
}

.khanan-header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #6827b0, #ff0881);
  backface-visibility: hidden;
}

/* for KhANAN-CONTENT */
.k-content {
  background: linear-gradient(45deg, #ff0881, #6827b0);
  width: 60vw;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 5vh;
  margin-left: 38vw;
  border-radius: 20px 0 0 20px;
  height: fit-content;
}
.k-content-text {
  margin-left: 15px !important;
}

/* For khanan kcards*/
.kcard.card {
  background-image: linear-gradient(45deg, #ff0881, #6827b0);
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  background-clip: text;
  color: transparent;
  margin-top: 12vh;
  overflow: hidden;
  text-transform: capitalize;
}

a.k-card-link:hover {
  text-decoration: none;
}

.kcard.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: max(10rem, 30vh);
  aspect-ratio: 4/3;
  transition: transform 1s;
}
.kcard.card img:hover {
  transform: scale(1.2);
}

.kcard.card img ~ * {
  margin-left: 1rem;
  margin-right: 1rem;
}
.kcard.card > :last-child {
  margin-bottom: 0;
}
/* For Campus Amb*/
.campus {
  background: linear-gradient(45deg, #ff0881, #6827b0);
  width: 60vw;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 5vh;
  margin-right: 40vw;
  border-radius: 0 20px 20px 0;
  height: fit-content;
  position: relative;
}
.campus-text {
  margin-left: 50px !important;
}
.custom-button-campus {
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
  font-size: 1.5rem;
  font-weight: 500;
  height: 20%;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 40vw;
}
.custom-button-campus:hover {
  color: rgba(0, 0, 0, 1) !important;
}
.custom-button-campus::after {
  background-color: #fff;
}

/* For speaker.js*/
.k-sub-heading {
  background-image: linear-gradient(45deg, #ff0881, #6827b0);
  padding-bottom: 1rem;
  background-clip: text;
  color: transparent;
  margin-top: 8vh;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
}

/* for media query */
@media only screen and (max-width: 1400px) {
  .custom-button-khanan {
    font-size: 1rem;
  }
  .custom-button-campus {
    font-size: 1rem;
    height: 12%;
    margin-left: 20vw;
  }
}
@media only screen and (max-width: 576px) {
  .khanan-header img {
    width: 40%;
    height: 30%;
  }
  .custom-button-khanan {
    font-size: 1rem;
    height: 10%;
  }
  .k-content {
    width: 90vw;
    margin-left: 10vw;
  }
  .campus {
    width: 90vw;
    margin-right: 10vw;
  }
  .khanan-header img {
    width: 40%;
    height: 30%;
  }
}
